body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: #0057b7;
    color: white;
    padding: 30px 40px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }

  section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }

  ul {
    list-style-type: none; /* Użyj kropek */
    padding-left: 20px; /* Odstęp od lewej strony */
  }
  
  li {
    margin-bottom: 10px; /* Dodatkowa przestrzeń między punktami */
  }

  .header-text {
    display: flex;
    max-width: 60%;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  .header-text {
      flex: 0 1 auto;
  }


.profile img {
  border-radius: 8px;
  width: 120px;
  height: auto;
  margin-left: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  header {
    flex-direction: center;
    text-align: center;
    padding: 20px;
  }

  header .profile img {
    width: 50%;
    height: auto;
    margin-top: 20px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  section {
    padding: 10px;
    margin: 10px;
  }
}